<p>
  <b>Fullname:</b>
  <%=h @team.fullname %>
</p>

<p>
  <b>Shortname:</b>
  <%=h @team.shortname %>
</p>

<p>
  <b>Symbol:</b>
  <%=h @team.symbol %>
</p>

<p>
  <b>Manager:</b>
  <%=h @team.manager %>
</p>

<p>
  <b>President:</b>
  <%=h @team.president %>
</p>

<p>
  <b>Address:</b>
  <%=h @team.address %>
</p>

<p>
  <b>Post code:</b>
  <%=h @team.post_code %>
</p>

<p>
  <b>City:</b>
  <%=h @team.city %>
</p>

<p>
  <b>Fax:</b>
  <%=h @team.fax %>
</p>

<p>
  <b>Phone:</b>
  <%=h @team.phone %>
</p>

<p>
  <b>Stadium name:</b>
  <%=h @team.stadium_name %>
</p>

<p>
  <b>Stadium directions:</b>
  <%=h @team.stadium_directions %>
</p>

<p>
  <b>Contact person name:</b>
  <%=h @team.contact_person_name %>
</p>

<p>
  <b>Contact person phone:</b>
  <%=h @team.contact_person_phone %>
</p>

<p>
  <b>Contact person email:</b>
  <%=h @team.contact_person_email %>
</p>

<p>
  <b>Points to add:</b>
  <%=h @team.points_to_add %>
</p>

<p>
  <b>Points to remove:</b>
  <%=h @team.points_to_remove %>
</p>

<p>
  <b>Ranking:</b>
  <%=h @team.ranking %>
</p>

<p>
  <b>Custom text1:</b>
  <%=h @team.custom_text1 %>
</p>

<p>
  <b>Yearly budget:</b>
  <%=h @team.yearly_budget %>
</p>

<p>
  <b>Total games win:</b>
  <%=h @team.total_games_win %>
</p>

<p>
  <b>Total games lose:</b>
  <%=h @team.total_games_lose %>
</p>

<p>
  <b>Total games draw:</b>
  <%=h @team.total_games_draw %>
</p>

<p>
  <b>Team logo file:</b>
  <%=h @team.team_logo_file %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @team.enabled %>
</p>

<p>
  <b>Tgroup:</b>
  <%=h @team.tgroup %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
