<p>
  <b>Team:</b>
  <%=h @player.team_id %>
</p>

<p>
  <b>Surname:</b>
  <%=h @player.surname %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @player.firstname %>
</p>

<p>
  <b>Poste:</b>
  <%=h @player.poste %>
</p>

<p>
  <b>Shirt number:</b>
  <%=h @player.shirt_number %>
</p>

<p>
  <b>Country:</b>
  <%=h @player.country_id %>
</p>

<p>
  <b>In club since:</b>
  <%=h @player.in_club_since %>
</p>

<p>
  <b>Date of birth:</b>
  <%=h @player.date_of_birth %>
</p>

<p>
  <b>On loan:</b>
  <%=h @player.on_loan %>
</p>

<p>
  <b>Notes:</b>
  <%=h @player.notes %>
</p>

<p>
  <b>Previous club:</b>
  <%=h @player.previous_club %>
</p>

<p>
  <b>Address1:</b>
  <%=h @player.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @player.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @player.city %>
</p>

<p>
  <b>Post code:</b>
  <%=h @player.post_code %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @player.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @player.phone2 %>
</p>

<p>
  <b>Mobile phone:</b>
  <%=h @player.mobile_phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %>
</p>

<p>
  <b>Custom text1:</b>
  <%=h @player.custom_text1 %>
</p>

<p>
  <b>Custom text2:</b>
  <%=h @player.custom_text2 %>
</p>

<p>
  <b>Custom number1:</b>
  <%=h @player.custom_number1 %>
</p>

<p>
  <b>Custom number2:</b>
  <%=h @player.custom_number2 %>
</p>

<p>
  <b>Supplent:</b>
  <%=h @player.supplent %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @player.enabled %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
